// settings
$color-bg: #fff;
$color-font: #242424;

$font-smoothing: antialiased; //antialiased, subpixel-antialiased, none
$font-family: "Sawarabi Mincho", serif;
$font-size: 62.5%;
$line-height: 1.4;

$bp-md: 737px;
$bp-lg: 769px;